@import "instruction.css"; 

.tarot-container{
  border-top: 2px solid #c3c3c3;
  height: 100vh;
  padding-top:5%;
}

.tarot-container .mode{
  width: 40%;
  margin: 0 auto;
}

.tarot-container label{
  padding-top:2%;
  font-size: 21px;
}

